*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.h1.fw-bold.mb-0{
padding: 1rem;

}

li{
padding-right:1.5rem;
padding-left: 1.5rem;
}

.removed{
    transform: translateX(100vw);
}

#msg{
    text-align: center;
    font-size: larger;
    background-color: rgb(75, 253, 75);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 1s 0s;
}

.form-control.x{
 
}