{% extends 'base.html' %}

{% block content %}


<div class="container">

    <h1 class="display-2" style="padding: 1rem;">
      {{post.title|safe}}
    </h1>
    
    <div class="text">
        {{post.content|safe}}
     
    </div>

    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <a type="button" href="{{url_for('index')}}" class="btn btn-success">Home</a>
      <form action="/edit-post" method="post">
        {{ form.csrf_token }}
        <input type="hidden" name="id" value="{{post['id']}}">
        <button type="submit" class="btn btn-warning">Edit</button>
      </form>
      <form action="/delete-post" method="post">
        {{ form.csrf_token }}
        <input type="hidden" name="id" value="{{post['id']}}">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>

</div>


{% endblock %}