{% extends 'base.html' %}

{% block content %}
<section class="vh-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-black">

                <div class="px-5 ms-xl-4">

                    <h1 class="h1 fw-bold mb-0">V Notebook</h1>
                </div>

                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

                    <form method="post" style="width: 23rem;">

                        <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register. </h3>
                        {{ form.hidden_tag() }}
                        {{ form.csrf_token }}

                        <div class="form-outline mb-4">

                            {{ form.name.label(class="form-label") }}
                            {{ form.name(class="form-control form-control-lg") }}
                        </div>

                        <div class="form-outline mb-4">

                            {{ form.username.label(class="form-label") }}
                            {{ form.username(class="form-control form-control-lg") }}
                        </div>


                        <div class="form-outline mb-4">

                            {{ form.email.label(class="form-label") }}
                            {{ form.email(class="form-control form-control-lg") }}
                        </div>
                        <div class="form-outline mb-4">

                            {{ form.password_hash.label(class="form-label") }}
                            {{ form.password_hash(class="form-control form-control-lg") }}
                        </div>

                        <div class="form-outline mb-4">

                            {{ form.password_hash2.label(class="form-label") }}
                            {{ form.password_hash2(class="form-control form-control-lg") }}
                        </div>

                        <div class="pt-1 mb-4">
                            {{ form.submit(class="btn btn-info btn-lg btn-block") }}
                        </div>

                        <p>Already have an account? <a href="{{url_for('login')}}" class="link-info">Login here</a></p>

                    </form>

                </div>

            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img3.webp"
                    alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
            </div>
        </div>
    </div>
</section>
{% endblock %}