{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="loginsection">
        <form method="post">
            {{ form.hidden_tag() }}

            {{ form.username.label() }}
            {{ form.username() }}

            {{ form.password.label() }}
            {{ form.password() }}

            {{ form.submit() }}
        </form>
    </div>
    <div class="register">
       <p>Já tem uma conta? <a href="{{url_for('register')}}">Clique aqui para se logar.</a></p> 
    </div>
</div>

{% endblock %}